{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <h2>Login</h2>
  </header>
  <main>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="POST">
      <fieldset>
        <label for="email">Email:</label>
        <input name="email" type="text" required>
        <label for="password">Password:</label>
        <input name="password" type="password" required>
        <button type="submit" name="submit" class="material-icons">done</button>
      </fieldset>
    </form>
  </main>
</article>
{% endblock %}
