[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
gunicorn = "*"
"psycopg2" = "*"
flask-sslify = "*"
pyjwt = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
