{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <h2>Cadastrar item</h2>
    <a href="{{ url_for('items.read_all') }}"><button class="material-icons">arrow_back</button></a>
  </header>
  <main>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="post">
      <fieldset>
        <label for="name">Nome:</label>
        <input type="text" name="name" autofocus required>
        <label for="registry">Tombo:</label>
        <input type="number" name="registry">
        <label for="description">Descrição:</label>
        <input type="text" name="description">
        <label for="category">Categoria:</label>
        <select name="category">
          <option value=""></option>
          {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
          {% endfor %}
        </select>
        <button type="submit" name="submit" class="material-icons">done</button>
      </fieldset>
    </form>
  </main>
</article>
{% endblock %}
