:root {
  --cdg-blue: #00b7fa;
  --cdg-red: #ff5a47;
  --cdg-yellow: #fff443;
  --cdg-grey: #424b55;
  --main-text: #424b55;
  --article-bg: #ffffff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--cdg-grey);
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, main, footer {
    flex-shrink: 0;
}

 body > header {
  background-color: var(--cdg-yellow);
}

body > main {
  flex: 1 0 auto;
  flex-wrap: wrap;
}

article {
  background-color: var(--article-bg);
  width: 100%;
  padding: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

body > footer {
  background-color: var(--cdg-red);
  padding: 20px;
}

article > header, main, footer {
  padding: 20px 0;
}

article > header {
  background-color: inherit;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  grid-gap: 5px;
}

article > main {
  background-color: inherit;
  overflow: scroll;
}

article > footer {
  background-color: inherit;
}

.button,
a.button,
button,
[type=button],
[type=submit] {
  display: inline-block;
  background: var(--cdg-blue);
  border: 1px solid var(--cdg-blue);
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  margin: .25rem 0;
  vertical-align: middle;
  line-height: 1;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover,
a.button:hover,
button:hover,
[type=button]:hover,
[type=submit]:hover {
  background: var(--article-bg);
  color: var(--cdg-blue);
  border: 1px solid var(--cdg-blue);
}

[type=text],
[type=email],
[type=number],
[type=password],
[type=url],
select,
textarea {
  display: block;
  padding: .5rem;
  background: transparent;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--cdg-grey);
  border-radius: 4px;
  font-size: .95rem;
}

[type=text]:focus,
[type=email]:focus,
[type=number]:focus,
[type=password]:focus,
[type=url]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--cdg-blue);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
  line-height: 1
}

label {
  font-weight: 600;
  font-size: .9rem;
  display: block;
  margin: .5rem 0;
}

main > nav {
  max-width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

ul > li {
  margin: 5px 0;
  width: 100%;
  /* height: 100px; */
  /* flex-grow: 1; */
  /* width: 50%; */
  /* height: 100px; */
}

li > a, button {
  height: 100%;
  width: 100%;
}

form, fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid var(--cdg-grey);
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}

.flash {
  color: var(--cdg-red);
}

@media screen and (min-width: 800px) {
  body > header {
    flex-direction: column;
  }
  article {
    max-width: 800px;
    margin: 20px auto;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
  }
}
